body {
  font-family: 'Arita', serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  padding: 0px;
  margin: 0px;
  background-color: #F0F0F0;

  .popup_section {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    display: none;
    z-index: 999;


    .popup_card {
      width: 240px;
      height: 500px;
      padding: 20px 12px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      gap: 12px;
      background-color: #FFffff;
      border: 0.5px solid #000000;
      border-radius: 5px;
      font-size: 14px;


      .popup_header {
        width: 100%;
        height: 24px;
        display: flex;
        justify-content: space-between;

        .popup_header_btn {
          height: 100%;
          display: flex;
          gap: 12px;

          .popup_btn_basket {
            height: 100%;

            img {
              width: 100%;
              /* 이미지가 부모 컨테이너에 맞춰짐 */
              height: 100%;
              /* 이미지가 부모 컨테이너에 맞춰짐 */
              object-fit: contain;
              /* 이미지가 비율을 유지하면서 컨테이너에 맞도록 */
            }

          }

          .popup_btn_share {
            height: 100%;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }

        .popup_header_link {
          display: flex;
          align-items: center;
          font-size: 14px;

          a {
            color: #000000;
          }


        }
      }

      .popup_img {
        overflow: hidden;
        box-sizing: border-box;

        img {
          width: 100%;
          /* 이미지가 부모 컨테이너에 맞춰짐 */
          height: 100%;
          /* 이미지가 부모 컨테이너에 맞춰짐 */
          object-fit: contain;
        }
      }

      .popup_text_container {
        flex: 1;
        line-height: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .popup_text_name {
          color: #3A3A3A;
          box-sizing: border-box;
        }
      }



    }

  }

  /* 팝업 색상 지정 */

  .popup_section .card01 {
    background-color: #FF926F;
  }

  .popup_section .card02 {
    background-color: #E5EBEB;
  }

  .popup_section .card03 {
    background-color: #79CCE6;
  }

  .popup_section .card04 {
    background-color: #F9FAA8;
  }

  .popup_section .card05 {
    background-color: #B6E591;
  }

  .popup_section .card06 {
    background-color: #FFA7C1;
  }

  .popup_section .card07 {
    background-color: #C9C9C9;
  }

  .popup_section .card08 {
    background-color: #E5EBEB;
  }

  .popup_section .card09 {
    background-color: #C9C9C9;
  }

  .popup_section .card10 {
    background-color: #F97E7E;
  }

  .popup_section .card11 {
    background-color: #82A7EF;
  }


  /* 페이지 디자인 */

  .body_container {
    display: flex;
    justify-content: space-between;
    height: 100vh;


  }

  .section_left {
    position: fixed;
    height: 100vh;
    top: 0px;
    left: 0px;
    width: 400px;
    background-image: url(@_collecting-acorns/title_img.png);
    background-size: cover;
    background-position: center center;
    border-right: 0.5px solid #292929;

    .head_section_container {
      padding: 20px 11px;
      width: 100%;
      text-align: center;
      box-sizing: border-box;


      .title_text {
        font-family: "Gowun Batang", serif;
        font-size: 54px;
        line-height: 54px;
        text-align: left;

      }

      .head_info_container {
        font-family: "Gowun Batang", serif;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        padding: 0px 20px;
        padding-top: 10px;
        box-sizing: border-box;

        .head_info_collected-acorns {
          flex: 1;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .collected-acorns_text {
            font-size: 15px;
            text-align: left;
          }

          .collected-acorns_num {
            font-size: 22px;
            font-weight: 800;
          }

        }

        .head_info_my-acorns {
          flex: 1;
          display: flex;
          justify-content: space-between;
          align-items: center;
          text-align: left;

          .my-acorns_text {
            font-size: 15px;
          }

          .my-acorns_num {
            display: flex;
            gap: 8px;
            align-items: center;

            .num_text {
              font-size: 22px;
              font-weight: 800;
            }
          }

          img {
            height: 32px;
          }
        }
      }

      .head_info_my-acorns {
        flex: 1;
      }
    }

    .bot_section_container {
      width: 100%;
      position: absolute;
      bottom: 20px;
      display: flex;
      align-items: end;
      gap: 30px;
      font-size: 12px;
      line-height: 17px;
      font-weight: 200;
      padding: 10px 22px;
      box-sizing: border-box;



      .bot_text {
        flex: 2;
      }

      .bot_maker {
        flex: 1;
        font-weight: 500;
        text-align: right;
        appearance: none;

        a {
          color: #3A3A3A;
        }


      }

    }

  }

  .section_right {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 11px;
    padding: 11px 11px;
    padding-left: 411.5px;



    .card_item {
      height: 16vw;
      background-color: rgb(201, 201, 201);
      border: 0.5px solid #000000;
      border-radius: 5px;
      font-size: 15px;
      position: relative;
      cursor: pointer;

      &:hover .card_item_container {
        display: none;
      }


      &:hover .add-info {
        display: block;

      }




      .card_item_container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 12px;
      }


      img {
        width: 40px;
      }

      .add-info {
        width: 100%;
        height: 100%;
        padding: 24px;
        box-sizing: border-box;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 5px;
        z-index: 30;
        position: relative;
        /* 다른 콘텐츠 위에 표시되도록 z-index 설정 */


        .add-info-text {
          font-size: 15px;
          line-height: 20px;
          text-align: left;
        }

        .add-info-icon {
          scale: 50%;
          position: absolute;
          bottom: 0px;
          right: 10px;
        }
      }




    }


    .card_01 {
      background-color: #FF926F;
    }

    .card_02 {
      background-color: #E5EBEB;
    }

    .card_03 {
      background-color: #79CCE6;

    }

    .card_04 {
      background-color: #F9FAA8;
    }

    .card_05 {
      background-color: #B6E591;
    }

    .card_06 {
      background-color: #FFA7C1;

    }

    .card_07 {
      background-color: #C9C9C9;
    }

    .card_08 {
      background-color: #E5EBEB;
    }

    .card_09 {
      background-color: #C9C9C9;
    }

    .card_10 {
      background-color: #F97E7E;
    }

    .card_11 {
      background-color: #82A7EF;
    }

    .card_12 {
      background-color: #FF926F;
    }


  }



  /* 모바일 반응형 */

  @media only screen and (max-width: 680px) {

    .popup_section{
      .popup_card {
        width: 320px;
        height: 740px;
        justify-content: space-between;  
        
        .popup_img{
          width: 100%;
        }
        
        .popup_text_container{
          font-size: 16px;
          line-height: 21px;  
          justify-content: space-between;
           }
      }
  

    }

   
    .body_container {
      width: 100%;
      display: flex;
      flex-direction: column;
      height: fit-content;


      .section_left {
        width: 100%;
        height: 810px;
        border: none;
        position: absolute;
        top: 0px;

        .head_section_container {
          padding: 24px 14px;
          box-sizing: border-box;

          .title_text {
            font-size: 16vw;
            line-height: 16vw;
          }

          .head_info_container {
            gap: 8px;
            padding: 0px 14px;
            padding-top: 10px;
            flex-direction: column;
            box-sizing: border-box;


            .collected-acorns_text {
              font-size: 16px;
            }

            .collected-acorns_num {
              font-size: 22px;
            }

            .my-acorns_text {
              font-size: 16px;

            }

            .my-acorns_num {
              font-size: 22px;
            }


          }



        }

        .bot_section_container {
          width: 100%;
          font-size: 16px;
          line-height: 20px;
          flex-direction: column;
          justify-content: start;
          padding: 22px 24px;
          gap: 10px;
          box-sizing: border-box;


          .bot_text {
            width: 100%;
          }

          .bot_maker {
            width: 100%;
            text-align: left;
          }

        }

      }

      .section_right {
        display: grid;
        grid-template-columns: 1fr;
        gap: 18px;
        padding: 18px 18px;
        padding-top: 810px;

        .card_item {
          height: 44vh;
          font-size: 18px;

          .add-info-text {
            font-size: 18px;
            line-height: 24px;

          }
        }


      }


    }

  }
}